<div id="detailHeader" class="row">
  <button class="col-1 btn btn-secondary" [routerLink]="['/portfolio']">Back</button>
  <h2 class="col" *ngIf="bankAcct">{{bankAcct.institutionName}} ({{bankAcct.balance}})</h2>
</div>
<div id="detailDiv" class="row justify-content-start">
  <div class="col-6">
    <h3>Withdrawals</h3>
      <input type="text" name="amount" placeholder="Amount" [(ngModel)]="newWith.amount"/>
      <input type="text" name="description" placeholder="Description" [(ngModel)]="newWith.description"/>
      <button name="withdrawalButton" class="btn btn-secondary" (click)="addWithdrawal(newWith)" >Add</button>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Time</th>
          <th>Description</th>
          <th width="1px"></th>
          <th width="1px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let with of withdrawals">
          <td>{{with.amount}}</td>
          <td>{{with.timestamp}}</td>
          <td>{{with.description}}</td>
          <td><button class="btn btn-warning" (click)="setEditWithdrawal(with)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg></button></td>
          <td><button class="btn btn-danger" (click)="deleteWithdrawal(with.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h3>Deposits</h3>
      <input type="text" name="amount" placeholder="Amount" [(ngModel)]="newDep.amount"/>
      <input type="text" name="description" placeholder="Description" [(ngModel)]="newDep.description"/>
      <button name="depositButton" class="btn btn-secondary" (click)="addDeposit(newDep)" >Add</button>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Time</th>
          <th>Description</th>
          <th width="1px"></th>
          <th width="1px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dep of deposits">
          <td>{{dep.amount}}</td>
          <td>{{dep.timestamp}}</td>
          <td>{{dep.description}}</td>
          <td><button class="btn btn-warning" (click)="setEditDeposit(dep)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg></button></td>
          <td><button class="btn btn-danger" (click)="deleteDeposit(dep.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div *ngIf="editWith || editDep" id="editOverlay">
    <form>
      <br>
      <input *ngIf="editWith" type="number" placeholder="Amount" name="amount" [(ngModel)]="editWith.amount" />
      <input *ngIf="editWith" type="text" placeholder="Description" name="description" [(ngModel)]="editWith.description" />
      <input *ngIf="editDep" type="number" placeholder="Amount" name="amount" [(ngModel)]="editDep.amount" />
      <input *ngIf="editDep" type="text" placeholder="Description" name="description" [(ngModel)]="editDep.description" />
      <br>
      <button *ngIf="editWith" class="btn btn-secondary" (click)="updateWithdrawal(editWith)" >Update</button>
      <button *ngIf="editDep" class="btn btn-secondary" (click)="updateDeposit(editDep)" >Update</button>
      <button class="btn btn-secondary" (click)="cancelEditWD()" >Cancel</button>
    </form>
  </div>
</div>
