<div id="detailHeader" class="row">
  <button class="col-1 btn btn-secondary" [routerLink]="['/portfolio']">Back</button>
  <h2 class="col" *ngIf="creditCard">{{creditCard.institutionName}} ({{creditCard.balance}}) (Limit: {{creditCard.creditLimit}})</h2>
</div>
<div id="detailDiv" class="row justify-content-start">
  <div class="col-6">
    <h3>Purchases</h3>
      <input type="text" name="amount" placeholder="Amount" [(ngModel)]="newPur.amount"/>
      <input type="text" name="description" placeholder="Description" [(ngModel)]="newPur.description"/>
      <button name="purchsaeButton" class="btn btn-secondary" (click)="addPurchase(newPur)" >Add</button>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Time</th>
          <th>Description</th>
          <th width="1px"></th>
          <th width="1px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pur of purchases">
          <td>{{pur.amount}}</td>
          <td>{{pur.timestamp}}</td>
          <td>{{pur.description}}</td>
          <td><button class="btn btn-warning" (click)="setEditPurchase(pur)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg></button></td>
          <td><button class="btn btn-danger" (click)="deletePurchase(pur.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h3>Payments</h3>
      <input type="text" name="amount" placeholder="Amount" [(ngModel)]="newPay.amount"/>
      <input type="text" name="description" placeholder="Description" [(ngModel)]="newPay.description"/>
      <button name="paymentButton" class="btn btn-secondary" (click)="addPayment(newPay)" >Add</button>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Amount</th>
          <th>Time</th>
          <th>Description</th>
          <th width="1px"></th>
          <th width="1px"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pay of payments">
          <td>{{pay.amount}}</td>
          <td>{{pay.timestamp}}</td>
          <td>{{pay.description}}</td>
          <td><button class="btn btn-warning" (click)="setEditPayment(pay)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
          </svg></button></td>
          <td><button class="btn btn-danger" (click)="deletePayment(pay.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
          </svg></button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div *ngIf="editPay || editPur" id="editOverlay">
    <form>
      <br>
      <input *ngIf="editPay" type="number" placeholder="Amount" name="amount" [(ngModel)]="editPay.amount" />
      <input *ngIf="editPay" type="text" placeholder="Description" name="description" [(ngModel)]="editPay.description" />
      <input *ngIf="editPur" type="number" placeholder="Amount" name="amount" [(ngModel)]="editPur.amount" />
      <input *ngIf="editPur" type="text" placeholder="Description" name="description" [(ngModel)]="editPur.description" />
      <br>
      <button *ngIf="editPay" class="btn btn-secondary" (click)="updatePayment(editPay)" >Update</button>
      <button *ngIf="editPur" class="btn btn-secondary" (click)="updatePurchase(editPur)" >Update</button>
      <button class="btn btn-secondary" (click)="cancelEditPP()" >Cancel</button>
    </form>
  </div>
</div>
